<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyg-DSvawGb2BPVi9ZoTTTJYtuAX5l9os</string>
	<key>GCM_SENDER_ID</key>
	<string>394562034764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkayemreaslan.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodo-c95d4</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodo-c95d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394562034764:ios:c9057433ddde6a86de28e9</string>
</dict>
</plist>